# Server Configuration
PORT=8080
NODE_ENV=development

# Database Configuration
# MONGO_URI=mongodb+srv://01_backend_chaicode:ujQH1Du1dwwPOA5i@cluster0.qwi2thk.mongodb.net/
# MONGO_URI=

# JWT Configuration
JWT_ACCESS_SECRET = your_jwt_secret_key_here
JWT_ACCESS_EXPIRES_IN = 
JWT_REFRESH_SECRET = your_jwt_secret_key_here
JWT_REFRESH_EXPIRE_IN = 
# Other Configuration
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
